.btn-default {
  width: 100%;
  display: block;
  text-decoration: none;
  background: $black;
  color: $white;
  border: 1px solid $black;
  padding: 12px 5px;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  text-align: center;
  &:hover {
    background: transparent;
    color: $black;
    text-decoration: none;
  }
  &_theme_white_hover {
    height: 100%;
    &:hover {
      background: rgba($black, .5);
      color: $white;
    }
  }
}