.catalog {
    padding: 30px 0;

    &__item {
        height: 242px;
        margin: 0 15px 30px 0;
    }

}

.item-cat {
    transition: all .3s ease-in;
    overflow: hidden;
    position: relative;
    background: lighten($black, 50%);
    text-decoration: none;
    display: block;
    //&:hover {
    //    box-shadow: inset 0 0 20px $body-color, 0 0 20px $body-color;
    //}

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        transition: all .3s ease-in-out;
    }

    &:hover::after {
        right: 3px;
        top: 3px;
        bottom: 3px;
        left: 3px;
        border: 1px solid $white;
    }

    &__item-img {
        margin: auto;
        display: flex;
        align-items: center;
        max-width: 200px;
        height: 85%;
    }

    &__item-title {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-weight: 900;
        font-size: 22px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
        transition: all .3s ease-in;
    }

    &:hover .item-cat__item-title {
        color: $white;
    }
}