<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>О компании</h1>
				<div class="about__photo">
					<img src="/images/about.jpg" alt="" class="img-fluid">
				</div>
				<div class="about__text">
					<p>Производственное объединение «ВолгаСпецХиммаш» — это крупное динамично развивающееся предприятие, специализирующееся на поставке технологического оборудования для различных отраслей промышленности, таких как</p>
					<div class="about__list">
						<ul class="custom-list">
							<li>Нефтегазодобыча и переработка;</li>
							<li>Хранение, транспортировка нефти и газа;</li>
							<li>Химические и нефтехимические производства;</li>
							<li>Теплоэнергетическая промышленность;</li>
							<li>Машиностроение и металлообработка;</li>
							<li>Пищевая промышленность и др.</li>
						</ul>
					</div>
					<p>Главные задачи компании — построение взаимовыгодных и долгосрочных партнерских отношений с Заказчиками, внедрение новейших технологий, расширение ассортимента поставляемой продукции и дополнительных услуг.</p>
					<p>Мы готовы предложить нашим клиентам снижение расходов на приобретение необходимого оборудования с предоставлением кратчайших сроков поставки и гарантией высокого качества продукции.</p>
				</div>
				<div class="about__btn">
					{%  include "../_components/buttons/btnLink.twig" %}
				</div>
				
			</div>
		</div>
	</div>
</div>