<div class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="/images/about.png" alt="Резервуары вертикальные">
                    </div>
                    <div class="item-cat__item-title">Резервуары вертикальные</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Резервуары горизонтальные</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Емкости подземные</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Емкости для СУГ</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Аппараты емкостные</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Аппараты с перемешивающими устройствами</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Воздухосборники и ресиверы</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Отстойники</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <a href="#" class="catalog__item item-cat">
                    <div class="item-cat__item-img">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="item-cat__item-title">Емкости из стеклопластика</div>
                </a>
            </div>
        </div>
    </div>
</div>