<div class="slider-wrapper">
    <div class="preloader">
        <span class="preloader__load"></span>
    </div>
    <div class="main-slider">
        <div>
            <a href="/">
                <img src="/images/slide-1.jpg" alt="" class="main-slider__img">
            </a>
        </div>
        <div>
            <img src="/images/slide-1.jpg" alt="" class="main-slider__img">
        </div>
    </div>
    <div class="container">
        <div class="slider-nav">
            <div>
                <span>ёмкостное оборудование</span>
                <p>РЕЗЕРВУАРЫ ВЕРТИКАЛЬНЫЕ СТАЛЬНЫЕ РВС, РВСП</p>
            </div>
            <div>
                <span>ёмкостное оборудование 2</span>
                <p>РЕЗЕРВУАРЫ ВЕРТИКАЛЬНЫЕ СТАЛЬНЫЕ РВС, РВСП</p>
            </div>
        </div>
    </div>
</div>