// подключим локальный Open Sans шрифт, чтобы не зависеть
@import '../fonts/SourceSansPro/SourceSansPro.css';

body {
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  line-height: normal;
}

h1 {
	font-weight: 300;
	font-size: 46px;
	line-height: 58px;
	text-transform: uppercase;
	color: $black;
	margin-bottom: 25px;
}