<nav id="mobile-nav" class="mobile-menu">
    <ul>
        <li class="mobile-menu__item"><a href="test-lab.html" class="mobile-menu__link transition">О компании</a></li>
        <li class="mobile-menu__item">
            <a href="test-lab.html" class="mobile-menu__link">Услуги</a>
            <ul>
                <li class="mobile-menu__item">
                    <a href="test-lab.html" class="mobile-menu__link">Hosting</a>
                    <ul>
                        <li class="mobile-menu__item"><a href="/" class="mobile-menu__link">Private Server</a></li>
                        <li class="mobile-menu__item"><a href="/" class="mobile-menu__link">Managed Hosting</a></li>
                    </ul>
                </li>
                <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Domains</a></li>
                <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Websites</a></li>
            </ul>
        </li>
        <li class="mobile-menu__item"><a href="test-lab.html" class="mobile-menu__link">Партнеры</a></li>
        <li class="mobile-menu__item"><a href="test-lab.html" class="mobile-menu__link">Галерея</a></li>
        <li class="mobile-menu__item"><a href="test-lab.html" class="mobile-menu__link">Статьи</a></li>
        <li class="mobile-menu__item"><a href="test-lab.html" class="mobile-menu__link">Отзывы</a></li>
        <li class="mobile-menu__item"><a href="test-lab.html" class="mobile-menu__link">Контакты</a></li>
    </ul>
</nav>