<nav class="navbar-footer">
    <ul class="navbar-footer__group">
        <li class="navbar-footer__item"><a href="#" class="navbar-footer__link">О компании</a></li>
        <li class="navbar-footer__item"><a href="#" class="navbar-footer__link">Каталог</a></li>
        <li class="navbar-footer__item"><a href="#" class="navbar-footer__link">Примеры оборудования</a></li>
        <li class="navbar-footer__item"><a href="#" class="navbar-footer__link">Опросные листы</a></li>
        <li class="navbar-footer__item"><a href="#" class="navbar-footer__link">Контакты</a></li>
    </ul>
</nav>