<nav class="navbar-main">
    <ul class="navbar-main__group">
        <li class="navbar-main__item navbar-main__item_dropdown navbar-main__item_active">
            <a href="#" class="navbar-main__link">О компании</a>
            <div class="main-menu-level">
                <ul class="main-menu-level__group">
                    <li class="main-menu-level__item main-menu-level__item_active">
                        <a href="#" class="main-menu-level__link">2 левел меню</a>
                    </li>
                    <li class="main-menu-level__item">
                        <a href="#" class="main-menu-level__link">если будет</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navbar-main__item"><a href="#" class="navbar-main__link">Каталог</a></li>
        <li class="navbar-main__item"><a href="#" class="navbar-main__link">Примеры оборудования</a></li>
        <li class="navbar-main__item"><a href="#" class="navbar-main__link">Опросные листы</a></li>
        <li class="navbar-main__item"><a href="#" class="navbar-main__link">Контакты</a></li>
    </ul>
</nav>