.mobile-menu {
  display: none;
}

.mobile-menu-btn {
  background: $black;
  position: relative !important;
  top: 0 !important;
  display: none;
  width: 50px;
  height: 50px;
  margin-left: 0;
  &__span, &__span::before, &__span::after {
    width: 25px !important;
    display: block;
    position: absolute;
    left: 50% !important;
    height: 3px !important;
    background: $white !important;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-left: 0;
  }
  &__span {
    transform: translate(-50%) !important;
  }
  &__span::before {
    top: -8px !important;
    margin-left: -12px;
  }
  &__span::after {
    bottom: -8px !important;
    margin-left: -12px;
  }
  &.toggle-open &__span {
    transform: translate(-50%) rotate(133deg) !important;
  }
  &.toggle-open &__span::before {
    top: -10px !important;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  &.toggle-open &__span::after {
    top: 10px !important;
  }
}

.hc-offcanvas-nav {
  & .nav-close .logo__img_mobile {
    width: 150px;
  }
  & li.nav-close span::before {
    margin-left: -10px !important;
  }
  & .mobile-menu__item .mobile-menu__link {
    color: $black;
    font-weight: 600;
    padding: 15px 17px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid $black;
  }
  & li.nav-close span::before, & li.nav-close span::after {
    width: 9px !important;
    height: 9px !important;
  }
  & .nav-next span::before, & li.nav-back span::before {
    width: 10px;
    height: 10px;
  }
  & li.nav-close span, & li.nav-parent .nav-next, & li.nav-back span {
    width: 66px !important;
  }
  & h2 {
    font-size: 22px !important;
    padding: 15px 17px !important;
    color: #fff !important;
    background: $corporate !important;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    font-weight: 300 !important;
  }
  & li.nav-parent .nav-item:not(:last-child) {
    margin-right: 65px !important;
  }
  & li.nav-close a {
    text-align: center;
    padding: 7px 17px;
    background: $white !important;
    border-top: 1px solid transparent !important;
  }
  & li.nav-back a {
    background: transparent !important;
    color: $black;
  }
  & .nav-container, & .nav-content {
    background: linear-gradient(-190deg, #fff 20%, #C5D9DD 45%) !important;
  }
  & .nav-wrapper, & ul {
    background: transparent !important;
  }
  & .nav-item, & a {
    padding: 20px 17px;
    font-size: 15px;
    color: #38af49;
    border-bottom: 1px solid #2b2b2b;
  }
  &:not(.touch-device) a:hover {
    background: $lightGray !important;
  }
  & a[href]:not([href="#"]) > span.nav-next {
    border-left: 1px solid #2b2b2b;
  }
  & li.nav-back a:hover, & li.nav-close a:hover {
    background: none;
  }
  & .nav-next span::before, & li.nav-back span::before {
    border-top: 2px solid $black;
    border-left: 2px solid $black;
  }
  & .nav-close .nav-item-wrapper a::before {
    content: "×";
    color: $black;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -1px;
    position: absolute;
    z-index: 9999;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile-menu__item_active a {
  background: #31679e !important;
}







