@media (max-width: 390px)  {
  .mobile-line {
    &__callback {
      width: 154px;
      margin-left: auto;
    }
  }
}

@media (max-width: 350px)  {
  .slider-wrapper {
    & .slider-nav {
      width: 290px;
      margin-top: 30px;
    }
    & .slick-prev, & .slick-next {
      display: none !important;
    }
  }
  .slider-nav div p {
    font-size: 16px;
    line-height: 20px;
  }
}
