<div class="container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link transition">Главная</a>
        </li> 
        <li class="breadcrumbs__item">Каталог</li>
    </ul>
</div>    