{% extends "_layouts/app.twig" %}

{% set title = 'ASMFM project' %}

{% block body %}
    {%  include "_partials/header.twig" %}

    {%  include "_partials/navbar.twig" %}

    <section>
        <div class="container">
            <div class="test">
                Hello world!
            </div>
            <div class="a">
                A
            </diva>
        </div>
    </section>

    {%  include "_partials/footer.twig" %}
{% endblock %}